/* Apply modern styles to the main layout */
.auth.layout {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style the container for login/register */
.container {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  width: 300px;
}

/* Style the box header with a yellow background */
.layout__boxHeader {
  background-color: #ffc107; /* Yellow background */
  padding: 10px;
  border-radius: 10px;
}

/* Style the form labels */
.form__group label {
  color: #333; /* Dark text color */
}

/* Style the buttons with yellow background */
.btn--main {
  background-color: #ffc107; /* Yellow background */
  color: #fff; /* White text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn--main:hover {
  background-color: #ffdb58; /* Lighter yellow on hover */
}

/* Style the links in the auth__action section */
.btn--link {
  color: #ffc107; /* Yellow text color */
  text-decoration: none;
  margin-left: 10px;
}

.btn--link:hover {
  text-decoration: underline;
}

.form__group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

#id_gender {
  margin-right: 6.2rem;
}

h3 {
  margin: 3px;
}
