<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/member_styles.css' %}">
    <title>Family Account Members</title>
</head>
<body>
    <div class="container">
        <h1>Family Account Members</h1>
        <div class="members-list">
            {% for m in member_accounts %}
            <div class="member">
                <div class="member-info">
                    <h2>Name: {{ m.holder.name }}</h2>
                    <p>Account Number: {{ m.number }}</p>
                </div>
                <div class="customer-since">
                    <p>Customer Since: {{ m.created|date:"d-m-Y"}}</p>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

</body>
</html>
